allow sensord sensors_data_file:dir create_dir_perms;
allow sensord sensors_data_file:fifo_file create_file_perms;
allow sensord sensors_data_file:file create_file_perms;
